@charset "utf-8";

body	{
    font: 12px/1.4 segoe ui, sans-serif;
    color: #333;
    background: url(images/topGrad_bg.jpg) repeat-x;
}
#wrapper    {
    margin-top: 50px;
    background: url(images/bottom_bg.jpg) repeat-x bottom;
}
#container  {
    margin-left: 19%;
    width: 779px;
    background-color: #fff;
}
#navlogo    {
    background: url(images/navAndLogo_container_bg.jpg) repeat-x;
}
#nav	{
    margin-top: 35px;
    width: 450px;
    float: left;
    height: 22px;
}
#nav li	{
    display: inline;
}
#logo	{
    float: left;
    padding-left: 130px;
}
#mast	{
    height: 200px;
    background: url(images/majorBox_bg.gif) no-repeat;
    padding: 2px;
}
#content    {
    background: url(images/pageContentBody_shoe_bg.jpg) repeat-x bottom;
    padding-bottom: 20px;
}
.content_body	{
    margin-left: 20px;
    width: 735px;
}
h1  {
    padding-bottom: 20px;
}
h2  {
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 135%;
    margin-top: 10px;
    margin-bottom: 5px;
}
ul.menu    {
    float: left;
    margin-right: 20px;
    width: 230px;
}
ul.menu a   {
    display: block;
    text-decoration: none;
    margin-top: 2px;
}
ul.menu .first	{
    background-color: #eee;
    line-height: 2em;
    color:#e68200;
}
ul.menu .first, ul.menu ul    {
    padding: 0 5px 0 5px;
    font-size: 90%;
}
ul.menu ul  {
    line-height: 1.6em;
}
ul.menu li ul li a  {
    background-color: #fff;
    color: #666;
}
ul.menu li ul li a:hover  {
    color: #000;
}
.body	{
    float: left;
    width: 485px;
    text-align: justify;
}
#home ul li {
    display: inline;
}
#home ul li.margin_right	{
    margin-right: 23px;
}
#about	{
}
#services .margin_right	{
    margin-right: 19px;
}
#services ul.menu   {
}

#footer	{
    height: 95px;
    background: url(images/copyrightArea_bg.jpg) repeat-x;
    text-align: center;
}
#footer img {
    margin-top: 40px;
}
.gradient   {
    height: 29px;
    background: url(images/pageContentBody_cap_bg.jpg) repeat-x;
}
.services_box	{
    float: left;
    border: solid 1px #eee;
    width: 230px;
}
.services_box .service_type {
    font-weight: normal;
    margin: 0;
}
.clear-float	{
    clear: both;
    float: none;
}














.contactAddress_container{
	margin-bottom:10px;
}
.contactDetails_bold{
	color:#000000;
	font-weight:bold;
}
.contentArea_containerCell{
	padding:20px 37px 20px 37px;
}
.details_container{
	margin:0px 18px 0px 18px;
}
