@charset "utf-8";

body	{
    font: 12px/1.4 segoe ui, sans-serif;
    color: #333;
    background: url(images/topGrad_bg.jpg) repeat-x;
}
#wrapper    {
    margin-top: 50px;
    background: url(images/bottom_bg.jpg) repeat-x bottom;
}
#container  {
    margin-left: 19%;
    width: 779px;
    background-color: #fff;
}
#navlogo    {
    background: url(images/navAndLogo_container_bg.jpg) repeat-x;
}
#nav	{
    margin-top: 35px;
    width: 450px;
    float: left;
    height: 22px;
}
#nav li	{
    display: inline;
}
#logo	{
    float: left;
    padding-left: 130px;
}
#mast	{
    height: 200px;
    background: url(images/majorBox_bg.gif) no-repeat;
    padding: 2px;
}
.gradient   {
    height: 29px;
    background: url(images/pageContentBody_cap_bg.jpg) repeat-x;
}
#content    {
    background: url(images/pageContentBody_shoe_bg.jpg) repeat-x bottom;
    padding-bottom: 20px;
}
.content_body	{
    margin-left: 20px;
    width: 735px;
}
h1  {
    padding-bottom: 20px;
}
h2  {
    font: normal 150%/1.5em Tahoma, sans-serif;
    color: #000;
    margin: 15px 0;
}
h3  {
    font: normal 125%/1.5em Tahoma, sans-serif;
    color: #000;
}
ul.menu    {
    float: left;
    margin-right: 20px;
    width: 230px;
}
ul.menu a, .box a   {
    display: block;
    text-decoration: none;
    margin-top: 2px;
}
ul.menu .first	{
    background-color: #eee;
    line-height: 2em;
    color:#e68200;
}
ul.menu .first, ul.menu ul    {
    padding: 0 5px 0 5px;
    font-size: 90%;
}
ul.menu ul  {
    line-height: 1.6em;
}
ul.menu li ul li a, .box a  {
    background-color: #fff;
    color: #666;
}
ul.menu li ul li a:hover, .box a:hover	{
    color: #000;
}
.body	{
    float: left;
    width: 485px;
    text-align: justify;
}
#partners li, #clients li   {
    float: left;
}
#partners li	{
    margin: 0 10px 10px 0;
}
#clients li {
    margin: 0 30px 10px 0;
}
#partners a, #clients a	{
    display: block;
}
#partners a {
    height: 39px;
}
#elcometer   {
    width: 125px;
    background-image: url(images/elcometer_bw.jpg);
}
#elcometer:hover    {
    background-image: url(images/elcometer.jpg);
}
#fike	{
    width: 85px;
    background-image: url(images/fike_bw.jpg);
}
#fike:hover {
    background-image: url(images/fike.jpg);
}
#bdsensors  {
    width: 120px;
    background-image: url(images/bd_sensors_bw.jpg);
}
#bdsensors:hover    {
    background-image: url(images/bd_sensors.jpg);
}
#iwtm	{
    width: 115px;
    background-image: url(images/iwtm.jpg);
}
#total, #shell, #saipem, #chevron   {
    height: 72px;
}
#total	{
    width: 56px;
    background-image: url(images/total_bw.jpg);
}
#total:hover	{
    background-image: url(images/total.jpg);
}
#shell	{
    width: 62px;
    background-image: url(images/shell_bw.jpg);
}
#shell:hover	{
    background-image: url(images/shell.jpg);
}
#saipem	{
    width: 132px;
    background-image: url(images/saipem_bw.jpg);
}
#saipem:hover	{
    background-image: url(images/saipem.jpg);
}
#chevron    {
    width: 64px;
    background-image: url(images/chevron_bw.jpg);
}
#chevron:hover	{
    background-image: url(images/chevron.jpg);
}
#mobil	{
    width: 199px;
    height: 39px;
    background-image: url(images/exxonmobil_bw.jpg);
}
#mobil:hover	{
    background-image: url(images/exxonmobil.jpg);
}
#home ul li, #partners li, #clients li	{
    display: inline;
}
#home ul li.margin_right	{
    margin-right: 23px;
}
#values h2  {
    line-height: 1em;
    border: solid 1px #000;
}
#values h3   {
    font-style: italic;
    color: #aeaeae;
    font-size: 110%;
    margin-bottom: 5px;
}
#services .margin_right	{
    margin-right: 19px;
}
.box	{
    float: left;
    border: solid 1px #eee;
    width: 230px;
    font-weight: normal;
}
.box h2, .box ul    {
    padding: 6px;
}
.box h2	{
    background-color: #eee;
    margin: 0;
    color:#e68200;
    font-size: 90%;
    line-height: 1em;
}
.box a	{
    font-size: 90%;
}
#footer	{
    height: 95px;
    background: url(images/copyrightArea_bg.jpg) repeat-x;
    text-align: center;
}
#footer img {
    margin-top: 40px;
}
.clear-float	{
    clear: both;
    float: none;
}
.tag   {
    color: #000;
    padding-right: 5px;
    font-weight: bold;
}
address	{
    margin-bottom: 10px;
}
