@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	background-color:#cccccc;
	font: 0.8em/1.4 segoe ui, sans-serif;
}
img {
	border:none;
	padding:none;
}
form	{
	margin:0px;
}
form input  {
	margin:0px;
}
.blockDisplay	{
	display:block;
}
.boldText   {
	font-weight:bold;
}
.bottomBg_cell	{
	height:95px;
	background: url(images/bottom_bg.jpg) repeat-x;
}
.bottom_greyMatter  {
	height:147px;
	background-color:#e6e6e6;
}
.bottom_tinyBar	{
	height:1px;
	background-color:#ffffff;
	width:100%;
}
.breadcrumbStyle_link{
	
	color:#E68200;
	text-decoration:none;
	position:relative;
	top:-3px;
	left:0px;
}
.breadcrumbStyle_link:hover {
	color:#666666;
}
.clientHolder{
	display:inline;
	margin:10px;
}
.clientLink{
	font-family:segoe ui, sans-serif;
	font-size:11px;
	font-size:13px;
	color:#cc9900;
	text-decoration:none;
}
.clientLink:hover   {
	color:#000000;
}
.clientLink_not{
	font-family:segoe ui, sans-serif;
	font-size:11px;
	font-size:13px;
	color:#cc9900;
	text-decoration:none;
}
.clientsSection{
	font-family:segoe ui, sans-serif;
	/*font-size:11px;*/
	font-size:13px;
	color:#232323;
}
.copyrightArea_cell{
	width:779px;
	height:95px;
	background: url(images/copyrightArea_bg.jpg) repeat-x;
}
.contactAddress_container{
	margin-bottom:10px;
}
.contactDetails_bold{
	color:#000000;
	font-weight:bold;
}
.contentArea_containerCell{
	padding:20px 37px 20px 37px;
}
.details_container{
	margin:0px 18px 0px 18px;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.generalText{
	font-family:segoe ui, sans-serif;
	/*font-size:11px;*/
	font-size:13px;
	color:#666666;
}
.generalText_2{
	font-family:segoe ui, sans-serif;
	font-size:13px;
	color:#666666;
}
.itemPic_cell{
	padding:0px 15px 0px 15px;
}
.leftCell{
	
}
.mainContent_tableContainer{
	width:100%;
	height:200px;
}
.navlinks_tableContainer{
	height:57px;
}
.pageContentBody_cap{
	width:779px;
	height:29px;
	background: url(images/pageContentBody_cap_bg.jpg) repeat-x;
}
.pageContentBody_main{
	width:779px;
	padding:0px 0px 0px 0px;
	background-color:#ffffff;
}
.pageContentBody_shoe{
	width:779px;
	height:29px;
	background: url(images/pageContentBody_shoe_bg.jpg) repeat-x;
}
.pageIndicator_container{
	margin-bottom:10px;
}
.partnerHolder{
	float:left;
}
.partnerLink{
	font-family:segoe ui, sans-serif;
	font-size:11px;
	font-size:13px;
	color:#cc9900;
	text-decoration:none;
}
.partnerLink:hover  {
	color:#000000;
}
.partnersSection{
	font-family:segoe ui, sans-serif;
	/*font-size:11px;*/
	font-size:13px;
	color:#232323;
}
.rightCell{
	
}
.servicesList{
	position:relative;
	#top:-14px;
	left:-12px;
}
.servicesListItem{
	font-family:segoe ui, sans-serif;
	/*font-size:12px;*/
	font-size:14px;
	font-weight:bold;
	color:#A37200;
	margin-bottom:12px;
	#margin-bottom:10px;
}
.servicesSubList{
	position:relative;
	top:3px;
	#top:3px;
	left:-13px;
}
.servicesSubListItem{
	font-family:segoe ui, sans-serif;
	/*font-size:12px;*/
	font-size:13px;
	font-weight:normal;
	color:#222222;
	margin-bottom:3px;
	#margin-bottom:0px;
}
.testBackground{
	background-color:#ff0000;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.testBorder{
	border:1px solid red;
}

/*Class Selectors*/



/*end Class Selectors*/



/*ID Selectors*/
#bottomBg_table{
	width:100%;
	height:73px;
}
#aboutDetails_container{
	
}
#contactDetails_container{
	
}
#logo_container{
	float:right;
}
#majorBox_container{
	width:779px;
	height:200px;
	background: url(images/majorBox_bg.gif) no-repeat;
	padding:2px;
}
#navAndLogo_container{
	width:779px;
	height:57px;
	background: url(images/navAndLogo_container_bg.jpg) repeat-x;
}
#navLinks_container{
	float:left;
}
#pageContainer_cell{
	padding:0px 0px 0px 0px;
	background: url(images/topGrad_bg.jpg) repeat-x;
	background-color:#cccccc;
}
#pageContainer_table{
	width:100%;
	height:500px;
	background-color:#ffffff;
	border:1px solid #aaaaaa;
	border-top-style:none;
	border-bottom-style:none;
}
#pageContentBody_container{
	width:779px;
}
#pageFrame_cell{
	width:779px;
}
#pageFrame_table{
	width:100%;
	table-layout:fixed;
	background-color:#ffffff;
	margin:53px 0px 0px 0px;
}
#servicesDetails_container{
	
}
#underConstruction_container{
	padding:50px 0px 0px 0px;
}
.notices    {
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    padding: 5px;
}


ul.menu    {
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
}
ul.menu a   {
    display: block;
}
ul.menu li.category {
    list-style: none;
    margin-bottom: 2px;
}
ul.menu li.category a	{
    color:#E68200;
    text-decoration: none;
    line-height: 1.8em;
    background-color: #eee;
    padding: 0 5px 0 5px;
}
ul.menu li.category ul	{
    background-color: #fff;
    padding: 0px;
}
ul.menu li.category ul li   {
    list-style: none;
}
ul.menu li.category ul li a {
    background-color: #fff;
    margin-top: 2px;
    color: #adadad;
}
ul.menu li.category ul li a:hover   {
    color: #3d3d3d;
}
.body	{
    float: left;
    border: solid 1px #000;
    width: 200px;
    margin-left: 20px;
}
.clear-float	{
    clear: both;
    float: none;
}
